tests
/node_modules
/.pnp
.pnp.js
/coverage
/.next/
/out/
/build
.DS_Store
_.pem
npm-debug.log_
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*.local
.vercel
\*.tsbuildinfo
next-env.d.ts
/test-results/
dist
yarn.lock
.eslintignore
.eslintrc
.github
.prettierrc
next.config.js
package-lock.json
package.json
README.md
tsconfig.json